.row {
  margin-top: 20px;
}

.clara-past-appointments {
}

.clara-points {
}

.clara-rewards {
}

.chat {
  margin-left: 50px;
  margin-bottom: 25px;
  margin-top: -30px;
}

.modify {
margin-right: 10px;
}

.delete {

}
.dashboard-content {
  display: flex;
  justify-content: space-evenly;
}

.card-appointment {
  overflow: hidden;
  height: 120px;
  width: 80%;
  border: 0.5px solid $primary;
  box-shadow: 0px 4px 4px rgba(16, 184, 154, 0.4);
  background: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-appointment .card-img {
  height: 100%;
  width: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.card-appointment h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: -25px;

}

.card-appointment p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0px;
  margin-top: 0px;
}

.card-appointment .card-appointment-infos {
  padding: 16px;
}

.dashboard-appointments {
  width: 100%;
  h2 {
    color: #10B89A;
  }
}

.dashboard-gardens {
  width: 45%;
  h2 {
    color: #10B89A;
  }
}

.card-appointment-infos h2 {
  position: relative;
  font-size: 16px;
  margin: 0;
  text-align: right;
  z-index: 1;
  a {
    color: $primary;
  }
  &:after {
    content: "";
    height: 20px;
    width: 40px;
    background: $info;
    position: absolute;
    right: -3px;
    bottom: 0;
    z-index: -1;
    opacity: 0.7;
  }
}
