// Specific CSS for your home-page
#btn-index-home {
  opacity: 1;
  color: $primary;
  // text-shadow: 0px 1px rgba(16, 184, 154, 0.4);
  background-color: #fdedc8;
  border: none;
  box-shadow: 4px 4px 0px #10B89A;
}
