<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/oucompost" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="mailto:contact@oucompost.com"><i class="fa fa-envelope"></i></a>
  </div>
  <div class="footer-copyright">
    Le Koinpost a poussé avec <i class="fas fa-seedling herb"></i></i> grâce à Jack, Caroline, Gueram & Aram
  </div>
</div>
