.card-home .card-text {
  background-color: beige;
  border: 1px solid beige;
  border-radius: 4px;
  box-shadow: 2px 2px 3px beige;
  padding: 30px;
  margin: 30px;
  width: 100%;
  margin: 0 auto;
  h1 {
    text-align: center;
  }
  p {
    text-align: justify;
    font-family: $headers-font;
    font-size: 18px;
  }
}
.card-home .round-icon {
  border-radius: 50%;
  border: 1px solid rgb(150, 150, 104);
  height: 35px;
  width: 35px;
  img {
    width: 100%;
  }
}

.card-home .center-icon {
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
  z-index: 10;
}
