.footer {
  background: rgba(246, 194, 60, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  flex-shrink: 0;
  margin-top: 80px;
}
.footer-links {
  display: flex;
  align-items: center;

}
.footer-links a {
  color: #10B89A;
  opacity: 0.70;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.herb {
  color: #10B89A;
}

// .col-icon {
//   color: #10B89A;
// }

// .fac
