.navbar-lewagon {
  justify-content: space-between;
  background: rgba(246, 194, 60, 0.3);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  display: flex;
  align-items: center;
  h4 {
    margin-bottom: 0;
    margin-left: 10px;
   }
}


.nav-item {
  margin-right: 20px;
}
